body {
  overflow-x: hidden;
}

#tbProds {
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    width: 100%;
  }
  
  #tbProds td, #tbProds th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #tbProds tr:nth-child(even){background-color: #f2f2f2;}
  
  #tbProds tr:hover {background-color: #ddd;}
  
  #tbProds th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2d4af2;
    color: white;
  }

  .tituloprod {
  width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#bfff00;
    background-color: #464646;
    background-size: 60px;
}

#paginate{
  margin-top: 30px;
  display:flex;
  justify-content: center;
}

#paginate div{
  cursor:pointer;
  font-size: 30px;
  width: 50px;
  height: 40px;
  text-align: center;
  color: #199409;
}

.btnPosition {
  position: relative;
  top: 164%;
  left: 608px;
}

.btnDeletar {
  background-color: red;
  position: absolute;
  top: 22%;
  left: 1256px;
}

.btnUpdate {
  background-color: yellow;
  position: absolute;
  top: 22%;
  left: 1310px;

}