
#tbProds {
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    width: 100%;
  }
  
  #tbProds td, #tbProds th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #tbProds tr:nth-child(even){background-color: #f2f2f2;}
  
  #tbProds tr:hover {background-color: #ddd;}
  
  #tbProds th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2d4af2;
    color: white;
  }

  .tituloprod {
  width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#bfff00;
    background-color: #464646;
    background-size: 60px;
  }
